 {% extends 'djangoapp/base.html' %}
 {% load static %}
 {% block content %}

    <main class="container col-md-8" id="content">
        <h3>Редактирование товара</h3>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="mb-3">
            <label for="item-name" class="form-label">Название</label>
            {{ form.name }}
        </div>
        <div class="mb-3">
            <label for="about-textarea" class="form-label">Описание</label>
           {{ form.description }}
        </div>
        <div class="mb-3">
            <label for="choose-foto" class="form-label">Фото</label>
            <div class="input-group">
                 {{ form.image }}
                <input type="file" class="form-control" id="choose-foto" aria-describedby="btn-upload"
                    aria-label="Upload">
                <button class="btn btn-outline-secondary" type="button" id="btn-upload">Загрузить</button>
            </div>
        </div>
        <div class="mb-3 col-sm-6">
            <label for="category-select" class="form-label">Категория</label>
            {{ form.category }}

        </div>

        <div class="mb-3 col-sm-6">
            <label for="item-name" class="form-label">Стоимость</label>
            <div class="input-group">
                  {{ form.price }}
                <span class="input-group-text"> ₽</span>
            </div>
        </div>
        <div class="mb-3 col-sm-6">
            <label for="count-textarea" class="form-label">В наличии</label>
            <div class="input-group">
                {{ form.count }}
                <span class="input-group-text"> шт.</span>
            </div>
        </div>
        <div class="col col-md-6 form-check mb-4 align-self-end ">
            <input class="form-check-input" type="checkbox" id="is-to-order">
            <label class="form-check-label" for="is-to-order">
                Изготавливается под заказ
            </label>
        </div>
        <div class="row justify-content-around mb-3">
            <div class="col-auto">
                <a href="{% url 'monitor' %}" class="btn btn-secondary">Отмена</a>
            </div>
            <div class="col-auto ">
              <input type="submit" value="Сохранить" class="btn btn-primary" id="save">
            </div>
        </div>
                 </form>

    </main>
{% endblock %}